<link href="src/landing/landing.css" rel="stylesheet" type="text/css" media="all">
<div ng-init="index=true" >
	<div ng-show="index">
		<div id="mySidenav" class="mySidenav sidenav">
			<a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">×</a>
			<a href="#/" ng-click="closeNav()">About</a>
			<a href="#/login">Login</a>
			<a href="#/signup">Signup</a>
			<a href="https://rahul91.github.io/" target="_blank">Contact</a>
		</div>

		<div id="main" class="main">
			<h2>Problem Statement</h2>
			<p>Requirements:
Anyone visiting the website should be asked for login/signup.
Once logged in, they should join a public channel where all users can send messages.
Messages sent by one person should be received by all the other users who are currently logged into the public channel. And this messaging should be realtime.
There should be an option for the user to clear chat, which should only clear the chat for that user, others should still be able to see all the messages.
Any new feature that you can think of in addition to the above requirements. Document this in README when you are submitting.
</p>

		<h2>My approach</h2>
		<p>
			Technological Stack:
			<ul>
				<li> Flask(Flask-Restful) + MySql(db) + sqlAlchemy(ORM) + Alembic(DB Migration)</li> 
				<li> Angularjs(Js) + Bootstrap(CSS) </li>
				<li> <strike>RabbitMq (broker) + Pika (MessagingClient)</strike></li>
				<li> Apidoc(Documentation) </li>
			</ul>
			System Requirements:
			<ul>
				<li> <strike>Rabbitmq</strike </li> 
				<li> Npm</li>
				<li> Python, Mysql</li>
			</ul>	 
		</p>

		<h2>Project Setup</h2>
		<p>
			<ul>

				<li>Clone project from github, <a href="https://github.com/Rahul91/healthify"> https://github.com/Rahul91/healthify</a></li>
				<li>For backend setup, please follow README.md in healthify/backend/</li>
				<li>For frontend setup, do npm install in healthify/frontend, make sure you have package.json in your current directory</li>
				<li>Change constant in healthify/frontend/src/mainApp.js to point to your flask api</li>
				<li>Start SimpleHTTPServer and host the project</li>

			</ul>	 
		</p>
			<span style="font-size:30px;cursor:pointer" ng-click="openNav()">☰ Dive In: To check the project</span>
		</div>
	</div>
</div>