<link href="src/home/home.css" rel="stylesheet" type="text/css" media="all">

<nav class="navbar  navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#/home">HealthifyMe</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
        <li><a href="#/logout">Logout</a></li>
        <li><a href="#/home">{{first_name}}</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="clearfix"></div>

<toaster-container></toaster-container>


<!--<div class="container">-->
<div class="row">
  <div class="col-xs-6 col-sm-3 col-md-2 sidenavbar">
    <div id="mySidenav" class="mySidenav sidenav">
      <!--<div class="col-xs-6 col-sm-3 col-md-2">-->
      <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">×</a>
      <a href="#/" ng-click="closeNav()">About</a>
      <a href="#/login">Login</a>
      <a href="#/signup">Signup</a>
      <a href="http://rahul91.github.io/" >Contact</a>
      </div>
    <!--</div>-->
    <li class=""><a title="Milestones" href="/dashboard/milestones"><i class="fa fa-clock-o fa-fw"></i>
<span>
Milestones
</span>
</a></li>
  <div class='collapse-nav center'>
<span style="font-size:30px;cursor:pointer" ng-click="openNav()"><i class="fa fa-angle-left" style="font-size:60px;color:white;"></i></a></span>
</div>
<div class="channels">
  <ul>
  <li ng-repeat = "channel in channelList" ng-click="get_chat_by_channel_name(channel.channel_name, 0)"><i class="fa fa-check-square" aria-hidden="true" style="font-size:20px;color:white;"></i>
    <span style="font-size:15px;color:white;">{{channel.channel_name  | uppercase}}</span>
  </li>
  </ul>
</div>

<div class="settings">
  <ul>
    <li ng-click="triggerChannelCreation()"><i class="fa fa-plus" aria-hidden="true" style="font-size:20px;color:white;"></i>
    <span style="font-size:15px;color:white;">Add Channel</span>
    <li ng-click="unsubscibeChannel(channel_name)"><i class="fa fa-times" aria-hidden="true" style="font-size:20px;color:white;"></i>
    <span style="font-size:15px;color:white;">Unsubscribe </span>
  </li>
  <li ng-click="deleteChat(channel_name)"><i class="fa fa-trash-o" aria-hidden="true" style="font-size:20px;color:white;"></i>
    <span style="font-size:15px;color:white;"> Delete Chat</span>
  </li>
  </ul>
</div>

  </div>

<div id="main" class="main">
  <!--<div class="col-xs-6 col-sm-3 col-md-2">-->
    <!--<div class="col-sm-3 col-md-3 sidebar">-->
          <!--<ul class="nav nav-sidebar">
            <li class="active"><a href="#/home">Channels <span class="sr-only">(current)</span></a></li>
            <li ng-repeat = "channel in channelList" ><a href="#/home">{{channel.channel_name}}</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <button type="button" class="btn btn-success btn-block" data-dismiss="modal" ng-click="triggerChannelCreation()" class="close">Create Channel
                    </button>

            <li><button type="button" class="btn btn-danger btn-block" data-dismiss="modal" ng-click="deleteChat(channel_name)" class="close">Delete Chat
                    </button></li>

            <li><button type="button" class="btn btn-warning btn-block" data-dismiss="modal" ng-click="deleteChat(channel_name)" class="close">Unsubscribe Channel
                    </button></li>
          </ul>
          <div class='collapse-nav'>
          <a class="toggle-nav-collapse" title="Open/Close" href="#"><i class="fa fa-angle-left"></i></a>
      </div>-->
        <!--</div>-->

        <!--<div id="mySidenav" class="mySidenav sidenav">
          <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">×</a>
          <a href="#/" ng-click="closeNav()">About</a>
          <a href="#/login">Login</a>
          <a href="#/signup">Signup</a>
          <a href="http://rahul91.github.io/" >Contact</a>
      </div>
      <span style="font-size:30px;cursor:pointer" ng-click="openNav()">☰ Dive In: To check the project</span>-->

  <!--</div>-->

  <div class="col-xs-6 col-md-10">
        <div class="panel panel-primary" ng-show="displayChat">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> {{channel_name}}
            </div>
            <div class="panel-body">
              <ul class="chat">
                  <li ng-repeat = "message in messageList | reverse" class="left clearfix"><span class="chat-img pull-left">
                  </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">{{message.published_by_name}}</strong> <small class="pull-right text-muted">
                                <span class="glyphicon glyphicon-time"></span>{{message.created_on | date :'yyyy-MM-dd'}}</small>
                        </div>
                        <p>
                            {{message.message_text}}
                        </p>
                    </div>
                  </li>
              </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <textarea id="btn-input" ng-model="message" type="text" style="max-width: 95%;" class="form-control input-sm" placeholder="Type your message here..." />
                    </textarea> 
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-lg" id="btn-chat" ng-disabled="!message" ng-click="publish(message, channel_name)">
                            Send</button>
                    </span>
                </div>
            </div>
        </div>
  </div>


<div class="modal" id="noChannelFound" show="false" data-keyboard="false" data-backdrop="static" ng-show="!displayChat" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Warning</h4>
          </div>
          <div class="modal-body">
              <span>Welcome to Healthify Chat Portal!!!<br>
          We have created a public channel for you, feel free to add more channels.
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()" class="close">Dismiss
            </button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="triggerChannelCreation()" class="close">Create New Channel
            </button>
          </div>
        </div>
    </div>
	</div>

<div class="channelModal" id="createChannel" show="false" data-keyboard="false" data-backdrop="static" ng-show="createNewChannel" >
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Create New Channel</h4>
        </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="channel_name" class="control-label">Name:</label>
                <input type="text" class="form-control" id="channel_name" placeholder="Name" ng-model="channelName">
              </div>
              <div class="form-group">
                <label for="channel_type" class="control-label">Type:</label>
                <input type="text" class="form-control" 
                      id="channel_type" placeholder="Type(Public/Private)" ng-model="channelType"/>
              </div>
            </form>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="dismiss()" class="close">Dismiss
                    </button>
            <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="createChannel(channelName, channelType)">Create Channel
          </button>
        </div>
      </div>
    </div>
  </div>

</div>
</div>